<div class="section" id="welcome-to-hgrpg-s-documentation">
  <h1>
    Welcome to HGRPG’s documentation!<a
      class="headerlink"
      href="#welcome-to-hgrpg-s-documentation"
      title="Permalink to this headline"
      >¶</a
    >
  </h1>
  <div class="toctree-wrapper compound">
    <p class="caption"><span class="caption-text">Contents:</span></p>
    <ul>
      <li class="toctree-l1">
        <a class="reference internal" href="01_introduction/">Introduction</a>
        <ul>
          <li class="toctree-l2">
            <a class="reference internal" href="01_introduction/#pitch"
              >Pitch</a
            >
          </li>
          <li class="toctree-l2">
            <a class="reference internal" href="01_introduction/#what-s-a-ttrpg"
              >What’s a TTRPG?</a
            >
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="01_introduction/#what-you-need-to-play"
              >What You Need to Play</a
            >
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="01_introduction/#do-good-be-rewarded"
              >Do Good, Be Rewarded</a
            >
          </li>
        </ul>
      </li>
      <li class="toctree-l1">
        <a class="reference internal" href="02_making_your_hero/"
          >Making Your Hero</a
        >
        <ul>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="02_making_your_hero/#choosing-a-hero"
              >Choosing a Hero</a
            >
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="02_making_your_hero/#todo-hero-table"
              >TODO: HERO TABLE</a
            >
          </li>
          <li class="toctree-l2">
            <a class="reference internal" href="02_making_your_hero/#iconics"
              >Iconics</a
            >
          </li>
        </ul>
      </li>
      <li class="toctree-l1">
        <a class="reference internal" href="03_getting_started/"
          >Getting Started</a
        >
        <ul>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="03_getting_started/#the-heroes-agreement"
              >The Heroes’ Agreement</a
            >
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="03_getting_started/#the-big-problem"
              >The Big Problem</a
            >
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="03_getting_started/#setting-the-scene"
              >Setting the Scene</a
            >
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="03_getting_started/#player-roles"
              >Player Roles</a
            >
            <ul>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#trailblazer"
                  >Trailblazer</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#team-captain"
                  >Team Captain</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#loremaster"
                  >Loremaster</a
                >
              </li>
            </ul>
          </li>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="03_getting_started/#on-your-turn"
              >On Your Turn</a
            >
            <ul>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#action-economy"
                  >Action Economy</a
                >
              </li>
              <li class="toctree-l3">
                <a class="reference internal" href="03_getting_started/#move"
                  >Move:</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#take-an-action"
                  >Take an Action:</a
                >
              </li>
              <li class="toctree-l3">
                <a class="reference internal" href="03_getting_started/#delay"
                  >Delay:</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#ending-a-turn"
                  >Ending a Turn:</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#ending-the-player-phase"
                  >Ending the Player Phase:</a
                >
              </li>
            </ul>
          </li>
          <li class="toctree-l2">
            <a class="reference internal" href="03_getting_started/#doing-stuff"
              >Doing Stuff</a
            >
            <ul>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#rolling-abilities"
                  >Rolling + Abilities</a
                >
              </li>
              <li class="toctree-l3">
                <a class="reference internal" href="03_getting_started/#results"
                  >Results</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="03_getting_started/#critical-successes"
                  >Critical Successes</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="toctree-l1">
        <a class="reference internal" href="04_ready_rules/">Ready Rules</a>
        <ul>
          <li class="toctree-l2">
            <a
              class="reference internal"
              href="04_ready_rules/#ability-scores-todo"
              >Ability Scores: TODO</a
            >
          </li>
          <li class="toctree-l2">
            <a class="reference internal" href="04_ready_rules/#actions-todo"
              >Actions: TODO</a
            >
            <ul>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="04_ready_rules/#discover-actions-todo"
                  >Discover Actions: TODO</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="04_ready_rules/#manuever-actions-todo"
                  >Manuever Actions: TODO</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="04_ready_rules/#help-actions-todo"
                  >Help Actions: TODO</a
                >
              </li>
              <li class="toctree-l3">
                <a
                  class="reference internal"
                  href="04_ready_rules/#fight-actions-todo"
                  >Fight Actions: TODO</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="toctree-l1">
        <a class="reference internal" href="05_done_rules/">Done Rules</a>
        <ul>
          <li class="toctree-l2">
            <a class="reference internal" href="05_done_rules/#elemental-type"
              >Elemental Type</a
            >
          </li>
        </ul>
      </li>
      <li class="toctree-l1">
        <a class="reference internal" href="glossary/">Glossary</a>
      </li>
    </ul>
  </div>
  <div class="section" id="indices-and-tables">
    <h2>
      Indices and tables<a
        class="headerlink"
        href="#indices-and-tables"
        title="Permalink to this headline"
        >¶</a
      >
    </h2>
    <ul class="simple">
      <li>
        <p>
          <a class="reference internal" href="genindex/"
            ><span class="std std-ref">Index</span></a
          >
        </p>
      </li>
      <li>
        <p>
          <a class="reference internal" href="py-modindex/"
            ><span class="std std-ref">Module Index</span></a
          >
        </p>
      </li>
      <li>
        <p>
          <a class="reference internal" href="search/"
            ><span class="std std-ref">Search Page</span></a
          >
        </p>
      </li>
    </ul>
  </div>
</div>
TOCAccordion.tsx:19
